@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://fonts.googleapis.com/css2?family=Archivo:wght@100&family=Montserrat:wght@100;500&family=Nanum+Gothic&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Raleway:wght@100&display=swap");

* {
  font-family: "Poppins", sans-serif;
}

nav ul{
  list-style-type: none;
  transition: 0.5s ease-in-out;
}

nav ul li:hover{
  border-bottom: 3px;
}

nav ul li a{
  text-decoration: none;
  font-size: 20px;
}
nav ul li a:hover{
  color:blue;
  border-bottom: 2px;
  padding: 5px;
}