@import url("https://fonts.googleapis.com/css2?family=Archivo:wght@100&family=Montserrat:wght@100;500&family=Nanum+Gothic&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Raleway:wght@100&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  font-family: "Poppins", sans-serif;
}

nav ul li a {
  text-decoration: none;
  font-size: 20px;
  color: white;
}

.footer-middle ul li a {
  color: blue;
}

.footer-middle ul li a:hover {
  color: white;
  transition: all 0.2s;
}

.footer-right a:hover {
  color: blue;
  transition: all 0.2s;
}

@media (max-width: 930px) {
  .right-nav {
    width: 10rem;
  }
  .nav {
    display: none;
  }
  .ham {
    display: block;
  }
}

@media (min-width: 930px) {
  .login {
    display: flex;
  }
}

@media (max-width: 960px) and (min-width: 930px) {
  .logo {
    font-size: 15px;
  }
}

.loginPage {
  background-image: url("./assets/Images/banner4.jpg");
  background-size: cover;
}

.forgotPass-bg {
  background-image: url("https://img.freepik.com/free-vector/authentication-concept-illustration_114360-7783.jpg?ga=GA1.1.1875339788.1744225049&semt=ais_hybrid&w=740");
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
}
.resetPass-bg {
  background-image: url("https://img.freepik.com/free-vector/computer-login-concept-illustration_114360-23872.jpg?ga=GA1.1.1875339788.1744225049&semt=ais_hybrid&w=740");
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
}
